<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Teacher page</h1>
    <h2>Students List</h2>
    <div class="student_table">
      <table border="1px solid black">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Birthday</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach((student) => { %>
            <tr>
              <td><%= student.firstName %></td>
              <td><%= student.lastName %></td>
              <td><%= student.gender %></td>
              <td><%= student.birthday %></td>
              <td><a href="/teacher/student_id/<%=student.id%>">edit</a></td>
              <td> <a href="/teacher/delete/student_id/<%=student.id%>">delete</a> </td>
            </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </body>
</html>
